
*.kit linguist-language=kit
*.mms linguist-language=mmixal
*.sim linguist-language=Simula
# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true -diff
