
*.mmc linguist-language=Mercury
*.mms linguist-language=MMIXAL
*.sim linguist-language=Simula
# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true -diff
