<div class="section">
  {{batchHeader}}
  <label class="toggleRow">
    <input id="batchDockerEnabled" type="checkbox" {{batchDockerChecked}} />
    <span class="checkboxText">Docker</span>
  </label>
  <input
    id="batchDockerValue"
    class="input"
    value="{{batchDockerValue}}"
    placeholder="Docker image"
    {{batchDockerDisabledAttr}}
  />
  <label class="toggleRow">
    <input id="batchSshEnabled" type="checkbox" {{batchSshChecked}} />
    <span class="checkboxText">SSH</span>
  </label>
  <input
    id="batchSshValue"
    class="input"
    value="{{batchSshValue}}"
    placeholder="SSH route"
    {{batchSshDisabledAttr}}
  />
  <div class="buttonRow">
    <button class="button" data-action="save-batch">Save</button>
  </div>
  {{batchStatus}}
</div>
