<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'none'; base-uri 'none'; object-src 'none'; frame-ancestors 'none'; img-src {{cspSource}} data:; style-src {{cspSource}}; script-src {{cspSource}};"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{stylesheetUri}}" />
  </head>
  <body>
    <div id="app"></div>
    <script id="environmentInitialState" type="application/json">{{serializedState}}</script>
    <script id="environmentTemplates" type="application/json">{{serializedTemplates}}</script>
    <script src="{{scriptUri}}"></script>
  </body>
</html>
