<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:description" content="A collection of algorithms implemented in various programming languages.">
    <meta property="og:image" content="https://derekshoneycutt.github.io/algorithms/icons/socialhead..png">
    <meta property="og:url" content="https://derekshoneycutt.github.io/algorithms/">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://derekshoneycutt.github.io/algorithms/icons/socialhead..png">
</head>
<body class="mdc-typography">
    <nav id="sidebar" class="collapsed">
        <nav id="breadcrumb" aria-label="Breadcrumb">
            <ol id="breadcrumb-list"></ol>
        </nav>
        <ul id="side-navlist" class="nav-hier-list"></ul>

        <md-fab id="sidebar-collapser">
            <md-icon id="sidebar-collapser-icon" slot="icon">chevron_left</md-icon>
        </md-fab>
    </nav>
    <main id="main-body">
        <article id="main-article" class="markdown-body"></article>
    </main>
</body>
</html>